* {
  font-family: Arial, Verdana, sans-serif;
} 
a:hover {
  font-weight: bold;
}
a:link {
  color: yellow;
}
a:visited {
  color: limegreen;
}
body {
  background-image: url(index_images/personal-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  width: 90%;
  margin: 0 auto;
}
header {
  min-height: 300px;
  text-align: center;
  vertical-align: bottom;
} 
#empty {
  height: 50px;
}
h1, h2 {
  font-family: 'ArchitectsDaughterRegular'; 
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
nav {
  background-color: rgba(0,45,101,0.7);
  font-size: 120%;
}
ul {
  padding-right: 40px;
}
li {
  display: inline;
  padding: 0.5em;
}
nav a{
  font-family: 'ArchitectsDaughterRegular';
}
section {
  min-height: 10em;
  margin-bottom: 1em;
  padding: 1px 20px 1px 20px;
  background: rgba(150,153,156,0.7);
  font-size: 120%;
}
footer {
  text-align: left;
  font-size: 140%;
}
nav, section, footer {
  margin: 1%;
}
nav, footer {
  padding: 0.5em 0;
}