body {
  background-image: url("https://gibsonjc1.github.io/prog109/module03/artifact-02Images/chessBackground.jpg");
}
a {
  font-size: 140%;
}
a:hover {
  font-weight: bold;
}
a:link {
  color: lightyellow;
}
a:visited {
  color: limegreen;
}
h1 {
  position: fixed;
  font-size: 300%;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #E2CDAE;
  text-align: center;
  z-index: 10;
}
#container {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.row {
  margin-left: 10%;
  margin-right: 10%;
}
.light {
  border: 1px solid #110F0A;
  width: 10%;
  height: 60px;
  background-color: #E2CDAE;
  float: left;
}
.dark {
  border: 1px solid #110F0A;
  width: 10%;
  height: 60px;
  background-color: #110F0A;
  float: left;
}
.clear {
  clear: both;
}
#ending {
  background-color: rgba(0, 0, 0, 0.5);
  width: 170px;
  text-align: left;
  padding: 10px
}
