body {
  background-image:url("https://pixabay.com/get/eb36b70d2af2073ed1534705fb094f93e77fe2d41dac104496f1c971a6eebdb8/black-2362266_1920.jpg");
}
#container {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
.row {
  margin-left: 10%;
  margin-right: 10%;
}
.light {
  border: 1px solid black;
  width: 10%;
  height: 60px;
  background-color: white;
  float: left;
}
.dark {
  border: 1px solid black;
  width: 10%;
  height: 60px;
  background-color: #787878;
  float: left;
}
.clear {
  clear: both;
}
