* {
  font-family: Arial, Verdana, sans-serif;
  text-align: center;}
a:hover {
  font-weight: bold;}
a:link {
  color: lightyellow;}
nav a:visited {
  color: limegreen;}
body {
  background-image: url(assignment_images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  width: 90%;
  margin: 0 auto;}
nav {
  background-color: rgb(19,85,137);}
section {
  background-color: rgba(97,192,191,0.7);}
#col1 {
  background-color: rgba(255,182,185,0.7);
}
#col2 {background-color: rgba(255,227,145,0.7);
}
#col3 {background-color: rgba(231,127,255,0.7);
}
footer {background-color: rgba(255,255,255,0.7);}
main {
  overflow: auto;}
nav, section, footer {
  margin: 1%;}
article {
  width: 31.3%;
  float: left;
  margin: 1%;}
#col3 {
  }
li {
  display: inline;
  padding: 0.5em;}
nav, footer {
  padding: 0.5em 0;}
section, article {
  height: 10em;
  margin-bottom: 1em;}

#ending{
  text-align: left;}
