/* To differentiate html classes of the board squares vs pieces, the board squares will be light and dark, while the pieces will be white and black. */

body {
  background-image: url("artifact-02images/chessBackground.jpg");
}
a {
  font-size: 140%;
}
a:hover {
  font-weight: bold;
}
a:link {
  color: lightyellow;
}
a:visited {
  color: limegreen;
}
h1 {
  position: fixed;
  font-size: 300%;
  top: 0px;
  left: 0px;
  padding: 15px;
  margin: 2px 0px 2px 0px;
  width: 100%;
  background-color: rgba(242,230,218,0.7);
  text-align: center;
  font-family: 'AnaktoriaRegular';
  z-index: 10;
}
#container {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
} 

/* chessboard squares */
.row {
  margin-left: 10%;
  margin-right: 10%;
}
.light, .dark {
  width: 12.5%;
  height: 60px;
  float: left;
}
.light {
  background-color: #F2E6DA;
}
.dark {
  background-color: #3F535E;
}
.clear {
  clear: both;
  width: 1px;
}

/* chessboard pieces from a sprite image*/
.black, .white {
  background: url("artifact-02images/chessPiecesSprite.png");
  background-repeat: no-repeat;
  
/* to center the pieces horizontally*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-top: 4px;
  height: 52px;
  width: 23px;
}
.black.king {
  background-position: -0px -54px;
}
.black.queen {
  background-position: -25px -54px;
}
.black.bishop {
  background-position: -50px -54px;
}
.black.knight {
  background-position: -75px -54px;
}
.black.rook {
  background-position: -100px -54px;
}
.black.pawn {
  background-position: -125px -54px;
}
.white.king {
  background-position: -0px -0px;
}
.white.queen {
  background-position: -25px -0px;
}
.white.bishop {
  background-position: -50px -0px;
}
.white.knight {
  background-position: -75px -0px;
}
.white.rook {
  background-position: -100px -0px;
}
.white.pawn {
  background-position: -125px -0px;
}
#ending {
  background-color: rgba(63, 83, 94, 0.7);
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
